.row {
  padding: 10px 150px 20px;
  display: flex;
  flex-flow: row;
}


.col {
  flex-grow: 1;
  margin-right: 10px;
  border: solid black 5px;
  background-color: rgb(237, 243, 231)  ;
}

.titulo {
  text-align: center; 
  border: 5px solid black;
  background-color:  rgb(237, 243, 231);
}

.contenedor {
  padding-top: 20px;
  border: solid black 5px;
  background: #4B79A1;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #283E51, #4B79A1);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #283E51, #4B79A1);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}