
<h3 >Ingresa cadena</h3>
<form (ngSubmit)="validar()">
  <input type="text" name="cadena" [(ngModel)]="cadena" />
  <button type="submit">validar</button>
</form>

<hr />
<h3>Cadena a Validar</h3>
<div class="container">
    @for (letra of cadenaValidar; track $index) {
        <div class="box">{{cadenaValidar[$index]}}</div>
    }
</div>
@if (ganaste) {
  <h3 class="alert alert-custom">Cadena Valida!</h3>
}
@if (perdiste) {
  <h3 class="alert alert-danger">Cadena Invalida!</h3>
}
<hr/>
<div >

  <h3>Registro De Estados</h3>
  <p><strong>Caracter actual: </strong>{{caracterActual}}</p>
  <p><strong>Cima de la pila: </strong>{{cimaPila}}</p>
  <p><strong>Estado Actual: q</strong>{{this.q}}</p>
</div>

