
.container{
    background-color: bisque;
    padding: 5px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
  }


  .box{
    border: 1px solid black;
    font-size: 15px;
    text-align: center;
    padding: 2px;
  }

  .alert-custom {
    background-color: #28a745; /* Verde personalizado */
    color: white; /* Color del texto */
  }

